.u-margin-bottom-small{
    margin-bottom: 2rem;
}

.u-margin-bottom-medium{
    margin-bottom: 4rem;
}

.u-margin-bottom-big{
    margin-bottom: 6rem;
}

.u-margin-top-small{
    margin-top: 2rem;
}

.u-margin-top-medium{
    margin-top: 4rem;
}

.u-margin-top-big{
    margin-top: 6rem;
}
