.button{
    background-color:#38A1F3;
    color: #fff;
    display: inline-block;
    padding:0 10px;
    border-radius: 4px;
    font-size: 1.3rem;
    transition: all .2s;

    &:hover{
        transform: translateY(-3px);
        background-color: darken(#38A1F3, 10);
    }
}