.code-highlight{
    
    &--primary{
        background-color: #000;
        color: #fff;
        padding: 4px 20px;
        border-radius: 8px;
        letter-spacing: 2px;
        font-family: menlo;
    }
    
    

    &--inverse{
        background-color: #fff;
        color:#000;
        padding: 4px 20px;
        border-radius: 8px;
        letter-spacing: 2px;
        font-family: menlo;
    }
}