//_base.scss

*,
*::after,
*::before {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
}

html {
        font-size: 62.5%;
}

body {
        box-sizing: border-box;
        text-align: center;
}

.bold-font{
        font-weight: 900;
}

.italic-font{
        font-style:italic; 
}

h1{
        font-family: 'Chelsea Market', cursive;
        font-size: 7rem;
        font-weight: normal;
}