.landing-page{
    padding: 8rem 0;
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 1.6rem;
    color:#999;
    line-height: 3rem;
    h1{
        color: #000;
    }
    
    h2{
        font-family: Georgia, Times New Roman, Times, serif;
        font-size: 3rem;
        color: #000;
    }

    a{
        text-decoration: none;
        color:#333;
        &:hover{
            text-decoration: underline;
        }
    }
    .fa-angle-double-down{
        font-size: 20rem;
    }
};

.setup{
    padding: 8rem 0;
    background-color: #348fd4;
    color: #06406c;

    a{
        display: inline-block;
        color: #fff;
        text-decoration: none;
        font-size: 4rem;
        background-color: #06406c;
        margin: 20px;
        padding: 3px 20px;
        border-radius: 10px;

        &:hover{
            text-decoration: underline;
        }
    }
}

.create{
    padding: 8rem 0;
    background-color: #06406c;
    color: #fff;
    font-size: 3rem;
}

.checkout{
    padding: 8rem 0;
    font-size: 3rem;
    color: #000;
}

.workflow{
    padding: 8rem 0;
    font-size: 3rem;
    background-color: #4c0d09;
    color: #d3b2af;

    p{
        line-height: 6rem;
    }
}

.add{
    padding: 8rem 0;
    font-size: 3rem;
    background-color: #cc4037;
    h1{
        color:#4c0d09;
    }

    p{
        line-height: 6rem;
    }
}

.pushing{
    padding: 8rem 0;
    font-size: 3rem;
    background-color: #ffc19f;
    h1{
        color:#cc4037;
    }
    p{
        line-height: 6rem;
    }
}

.branching{
    padding: 8rem 0;
    font-size: 3rem;
    background-color: #000;
    color:#fff;
    p{
        line-height: 6rem;
    }
}

.update{
    padding: 8rem 0;
    font-size: 3rem;
    h1{
        color: #666;
    }
    p{
        line-height: 6rem;
    }
}

.tagging{
    padding: 8rem 0;
    font-size: 3rem;
    color: #06406c;
    background-color: #348fd4;

    p{
        line-height: 6rem;
    }
}

.log{
    padding: 8rem 0;
    font-size: 3rem;
    h1{
        color: #FFB000;
    }
    p{
        line-height: 6rem;
    }
}

.replace{
    padding: 8rem 0;
    font-size: 3rem;
    background-color: #fff8c9;
    h1{
        color:#2d2700;
    }
    p{
        line-height: 6rem;
    }
}

.hints{
    padding: 8rem 0;
    font-size: 3rem;
    background-color: #06406c;
    color:#fff;

    p{
        line-height: 6rem;
    }
}

.links{
    padding: 8rem 0;
    font-size: 3rem;
    background-color: #ffc19f;
    h1{
        color:#cc4037;
    }
    h2{
        color:#7d1f19;
        font-size: 4rem;
        font-weight: normal;
    }
    a{
        display: block;
        text-decoration: none;
        color:#cc4037;
        font-size: 2.4rem;
        line-height: 3rem;

        &:hover{
            text-decoration: underline;
        }
    }
}